body, html {
	width: 100%;
	height: 100%;
}
body {
	background-image: url('images/Background_Watercolor.png');
	background-color: white;
	background-repeat: repeat;
	background-size: auto 100%;
}
.container-fluid {
	display: table;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	box-sizing: border-box;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

img {
	max-width: 100%;
}

p{
	font-size: 1em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 3em;
	text-align: center;
	text-decoration: underline;
	font-family: "Playfair Display", serif;
}

h2{
	font-size: 2.5em;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h3{
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
	font-family: 'Playfair Display', serif;
}

/*EVENTUALLY CHANGE MIN-WIDTH TO MIN-DEVICE-WIDTH TO ENSURE THE
BACKGROUND DOES NOT CHANGE IF THE USER RESIZES THEIR BROWSER */

@media only screen and (min-width: 768px) {
    body {
     /*   background-image: url('images/backgroundImageMobile.jpg');
	For use if you wish to change the background depending on screensize*/
    }
}

@media only screen and (min-width: 992px) {
    body {
     /*   background-image: url('images/backgroundImageMobile.jpg');
	For use if you wish to change the background depending on screensize*/
    }
}

@media only screen and (min-width: 1200px) {
    body {
    }
}
